<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Document</title>
      <link rel="stylesheet" href="index.css">
  </head>
  <body>
      <h1>Welcome to the Index Page</h1>
      <p>This is a sample EJS template.</p> 
      <small>Hello World</small>
      

      <form action="/get-form-data"
         method="post">
        <input
          type="text"
          placeholder="Enter username"
          name="username"
        >
        <input
          type="text"
          placeholder="Enter email"
          name="email"
        >
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
        >
        <button>Submit form</button>

      </form>
      <script src="index.js"></script>
  </body> 
</html>