<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/loginpage.css">
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h2>Login Page</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="/static/student.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Student Login</h5>
          <p class="card-text">Login as a student to access your account and view your progress.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="/s-login"><button type="button" class="btn btn-primary">Click here toLogin</button></a></small>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/static/company.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Company Login</h5>
          <p class="card-text">Login as a company to manage your job postings and applications.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="/c-login"><button type="button" class="btn btn-primary">Click here to Login</button></a></small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/static/admin.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admin Login</h5>
          <p class="card-text">Login as an admin to manage the platform.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="/a-login"><button type="button" class="btn btn-primary">Click here to Login</button></a></small>
        </div>
      </div>
    </div>
</body>
</html>